@{ 
    var Widgets = ViewData["Components"] as List<Widget>;

}

<!doctype html>
<html>
<head>
    <script>window.$ = window.jQuery = require('jquery');</script>

    <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js" type="text/javascript"></script>
    <link href="~/css/Themes/Light/material.css" id="theme" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/Shared/Light/_LayoutDashboard.css" id="themeAdjustments" rel="stylesheet" />
    <link href="~/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />

    <link href="~/css/Shared/MainMenu.css" rel="stylesheet" />
</head>
<body>
    <div class="stackblitz-container material">
        <div class="control-section">

            <!-- sample level element  -->
            <div id="wrapper">

                <!--header-section  declaration -->
                <div class="main-header" id="header-section">
                    <ul class="header-list">
                        <li class="float-left header-style icon-menu" id="hamburger"></li>

                        <li class="header-style float-right support border-left MenuIcon" onclick="KillWindow()" ><b><i class="fa fa-window-close-o MenuIcon" aria-hidden="true"></i></b></li>
 
                        <li class="header-style float-right support border-left MenuIcon" onclick="Minimize()" ><b><i class="fa fa-window-minimize MenuIcon" aria-hidden="true"></i></b></li>

                        <li class="header-style float-right support border-left" onclick="LoadLayout()"><b>Load Layout</b></li>
                        <li class="header-style float-right support border-left" onclick="SaveChanges()"><b>Save</b></li>




                    </ul>
                </div>
                <!-- end of header-section -->
                <div id="PlatformElement">
                    <!-- sidebar element declaration -->
                    <aside id="sidebar-treeview" style="overflow-x:hidden;">
                        <div class="main-menu">
                            <div class="table-content" style="padding:0;">
                                @*//   class="IconContainer drag-drop" id="yes-drop"*@
                                @foreach (var widget in Widgets)
                                {
                                <div class="IconContainer">
                                    <i class="fa @widget.Icon icon" aria-hidden="true" onclick="GenerateWidget('fa @widget.Icon icon','@widget.ComponentName')"></i>

                                    <p class="widgetText">
                                        @widget.DisplayName
                                    </p>
                                </div>
                                }


                            </div>
                        </div>
                    </aside>

                    <div class="main-content" id="main-text" style="min-height: 94vh; width: 99.9%;">
                        <div class="sidebar-content dropzone" id="outer-dropzone">
                            @RenderBody()
                        </div>
                    </div>
                </div>


            </div>


        </div>

    </div>
    <script src="~/js/Interact.js"></script>
    <script src="~/js/MenuApi.js"></script>
    <script src="~/js/Layout.js"></script>
</body>
</html>



